.container-player{
    width: 100%;
    max-width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    position: relative;
    font-family: arial, helvetica, sans-serif;
}
.container-player .player-poster{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    z-index: 1;
}
.container-player .player-poster:before{
    content: 'Play';
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: block;
    width: 50px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 18px;
    margin-top: -25px;
    margin-left: -25px;

}
.container-player .player-yt-js{
    position: relative;
    padding-top: 56.25%;
}
.container-player  .player-yt-js .player-js{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}